@font-face {
    font-family: 'SansRegular';
    font-style: normal;
    font-weight: normal;
    src: url('../../../public/fonts/OpenSans-Regular.ttf')
      format('truetype');
}
@font-face {
    font-family: 'SansBold';
    font-style: normal;
    font-weight: normal;
    src: url('../../../public/fonts/OpenSans-Bold.ttf')
      format('truetype');
}
@font-face {
    font-family: 'SansSemiBold';
    font-style: normal;
    font-weight: normal;
    src: url('../../../public/fonts/OpenSans-SemiBold.ttf')
      format('truetype');
}



html, body {
    height: 100%;
}
* {
    box-sizing: border-box;
}
body {
    background-color: #f5f7f9;
    margin: 0 !important;
}

span,
a,
button,
input,
div {
    font-family: 'SansRegular';
}

.sansRegular {
    font-family: 'SansRegular';
}
.sansBold {
    font-family: 'SansBold';
}
.sansSemiBold {
    font-family: 'SansSemiBold';
}

b,
em,
strong {
    font-family: 'SansBold';
}

code {
    background-color: #fefbec;
}