{
  // "presets": ["@babel/preset-env", "@babel/preset-react"],
  // "plugins": [
  //   ["transform-runtime", {
  //     "helpers": false, // defaults to true
  //     "polyfill": false, // defaults to true
  //     "regenerator": true, // defaults to true
  //     "moduleName": "babel-runtime" // defaults to "babel-runtime"
  //   }]
  // ]

  // "presets": [
  //   ["@babel/preset-env", "@babel/preset-react"]
  // ],
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties"
  ]
}
